{{ printf "%s" .Content -}}

{{- range $p := .Posts | sortPosts }}
=> /{{ $p.Link }} {{ $p.Metadata.PostDate.Format "2006-01-02 15:04" }} - {{ $p.Metadata.PostTitle }}

{{ $p.Post | printf "%s" }}
{{- end -}}
