<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet"> 
        <title>{{- if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title -}}</title>
        {{ $style := resources.Get "main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint -}}
        <link rel="stylesheet" href="{{ $style.Permalink }}">
        <link rel="alternate" type="application/rss+xml" href="/index.xml">
        {{ template "_internal/opengraph.html" . }}
    </head>
    <body>
        <div class="container-horizontal">
        {{ partial "nav" .}}
        {{ block "content" .}}
        This is the baseof template.
        {{ end }}
        {{ partial "footer" .}}
        </div>
    </body>
</html>
