{{ define "content" }}
{{ partial "toc" .}}
<div class="blog-post">
  <h1>{{ .Title }}</h1>
  <div class="blog-post-subheader">
    <time>{{ .Date.Format "02 Jan 2006" }}</time>
  </div>
  <div class="blog-post-content">
    {{ .Content }}
  </div>
  {{ if .Params.tags }}{{ if ge (.Params.tags | len) 0 }}
  <div class="blog-post-tags">
    <em class="bold">Tags:</em>
    <ul class="tags">
    {{ $tags := (.GetTerms "tags") }}
    {{ range $index, $tag := $tags }}
      <li class="tag"><a href="{{ $tag.Permalink }}">{{ $tag.LinkTitle }}</a></li>{{ if lt $index (sub ($tags | len) 1) }},{{ end }}
    {{ end }}
    </ul>
  </div>
  {{ end }}{{ end }}
</div>
{{ end }}
