{{ define "content" }}
{{ partial "toc" .}}
<div class="blog-post">
  <h1>{{ .Title }}</h1>
  <div class="blog-post-subheader">
    <time>{{ .Date.Format "02 Jan 2006" }}</time>
  </div>
  <div class="blog-post-content">
    {{ .Content }}
  </div>
  {{ if .Params.tags }}{{ if ge (.Params.tags | len) 0 }}
  <!-- TODO: make the tag list look better -->
  <div class="blog-post-tags">
    <em class="bold">Tags:</em>
    <ul>
    {{ range (.GetTerms "tags") }}
      <li class="tag"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
    {{ end }}
    </ul>
  </div>
  {{ end }}{{ end }}
</div>
{{ end }}
