$black: black;
$pre-bg: #efefef;
$pre-border: #bbb;
$pre-hl: #555;

$font-fg: 'Roboto', sans-serif;
$font-code: 'Roboto Mono', monospace;

body {
    font-family: $font-fg;
    margin: auto;
    max-width: 50em;
    margin-bottom: 1em;
}

#page-title {
    text-align: center;
    h1 a {
        color: $black;
        font-size: 2.7rem;
    }
    a:hover, .post a:hover {
        text-decoration: underline;
    }
}

.post a {
    color: $black;
}

#author-name h6 a {
    color: $black;
    font-weight: normal;
    font-size: small;
}

.date-time-title {
    font-family: $font-code;
}

.blog-post-content {
    padding-top: 1em;
    padding-bottom: 1em;
}

.posts_listing > li {
    list-style-type: none;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6  {
    font-size: 0.8rem;
}

code {
    font-family: $font-code;
    white-space: pre;
    overflow-x: auto;
}

pre {
    overflow-x: auto;
    padding: 5px 10px;
    border: 2px solid $pre-border;
    background-color: $pre-bg;
}

footer {
    text-align: center;
}

blockquote {
    font-style: italic;
    font-size: 1rem;
    border-left: 2px solid $pre-border;
    padding-left: 20px;
}

img {
    max-width: 100%;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_subtitle, .quote_subtitle {
    text-align: center;
    display: block;
    font-style: italic;
}

/* home page fixes */

@media (max-width: 720px) {
    div.col-sm.post {
        padding-left: 0px !important;
    }
}

/* post ToC */

nav#TableOfContents {
    margin: 16px;
}

/* whatever else comes to mind */

small p {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
}
