<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet"> 
        <title>{{.Title}}</title>
        <link rel="stylesheet" href="/css/stylesheet.css">
        <link rel="alternate" type="application/rss+xml" href="/index.xml">{{ if eq .Section "post" }}
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
        {{ with .Page.Description }}<meta property="og:description" content="{{ .Page.Description }}">{{ end }}
        <meta property="og:url" content="{{ .Permalink }}">
        <meta>{{ end }}{{ if eq (add .Site.BaseURL "/") (add .Permalink "/") }}
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ .Site.Author.name }}">
        <meta property="og:description" content="{{ .Site.Params.description }}">
        <meta property="og:url" content="{{ .Permalink }}">{{ end }}
    </head>
    <body>
      <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light">
          <div id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link {{ if eq .Permalink "/"}}active{{ end }}" href="/">Home</a>
              <a class="nav-item nav-link" href="/index.xml">RSS</a>
            </div>
          </div>
        </nav>
